.one{
	color: black;
	font-family: impact;
	font-size: 60px;
	text-shadow: 1px 2px 10px blue;
}
.GG{
	background-image: url(https://www.solidbackgrounds.com/images/2560x1600/2560x1600-terra-cotta-solid-color-background.jpg);
}
p{
	color: darkblue;
	font-family: Josefin Sans;
	font-size: 28px;
}
.Two{
	color:red;
	font-family:impact;
	font-size: 80px;
}
body{
	background-image: url(https://eskipaper.com/images/yellow-2.jpg);
}
.LZT{
	color: darkblue;
	font-family: Josefin Sans;
	text-shadow: 1px 2px 10px red;
}
.gg{
	color: red;
}
.cc{
	color: red;
}
.lol{
	color: red;
}
.KK{
	color: red;
	font-family: impact;
	font-size: 60px;
	text-shadow: 5px 6px 12px green;
}
#ok{
	color: brown;
	font-family: Lobster;
	font-size: 70px;
}
.In{
	color: black;
	font-family: impact;
	font-size: 30px;
}
.CJ{
	color: darkgreen;
	font-family: impact;
	font-size: 30px;
}
.pp{
	color: brown;
	font-family: impact;
	font-size: 40px;
}

img{
	border-radius: 100px;
}
.sbw{
	font-family: Oswald;
	text-shadow: 1px 2px 10px red;
}
.xxh{
	font-family: fantasy;
	color: rgb(56, 98, 28);
	font-size: 80px;
	text-shadow: 1px 2px 10px lightblue;
}
#wmf{
	font-family: impact;
	color: whitesmoke;
	font-size: 70px;
}
#lly{
	font-family: fantasy;
	color: black;
	font-size: 30px;
}
#zd{
	font-family: impact;
	color: lightblue;
	font-size: 75px;
}
#ct{
	font-family: fantasy;
	color: whitesmoke;
	font-size: 60px;
}
label{
	font-family: fantasy;
	color: black;
	font-size: 18px;
}
input{
	font-family: impact;
	color: darkblue;
	font-size: 15px;
}
.HH{
	font-family: fantasy;
	color: black;
	font-size: 80px;
}
.cnsm{
	font-family: fantasy;
	color: darkred;
	font-size: 180px;
}